<div class="pageJumper-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}
    <div class="jumpnav">
      <button id="next" role="button" class="jumpbutt" aria-label="{{this._jumpbutton.theButton}}">{{this._jumpbutton.theButton}}</button>
    </div>
</div>
