<div class="pageJumper-inner component-inner" role="region" aria-label="{{_globals._components._pageJumper.ariaRegion}}">
    {{> component this}}
    <div class="pj-{{this._jumpbutton.thePosition}}">
      <button id="next" role="button" class="jumpbutt" aria-label="{{this._jumpbutton.theLabel}}">{{this._jumpbutton.theLabel}}</button>
    </div>
</div>
